
#container {
	width: 960px;
	border: 0px;
	margin: 50px auto 0px auto;
	padding: 0px;	
} 
p { 
	line-height: 1.6;
	margin: 0px;	
}


a:link, a:visited {
	color: #615857;
	text-decoration: none;
	border-bottom: 1px dotted #615857;	
}


a:hover {
	color: #AA9593;
	border-bottom: 1px dotted #AA9593;	
}

::selection {
    background: #5FA0C3; 
    color: #FDFBF5;
}


::-moz-selection {
    background: #5FA0C3;
    color: #FDFBF5;   
}