 /* .block {
    width: 950px;
    height: 779px;
    clear:both; 
}  */
/* 
.block-col-1 {
	width: 220px;
	margin: 0px 10px 0px 10px;
	float: left;
}

.block-col-2 {
	width: 220px;
	margin: 0px 10px 0px 10px;
	float: left;
}

.block-col-3 {
	width: 220px;
	margin: 0px 10px 0px 10px;
	float: left;
}


.block-col-4 {
	width: 220px;
	margin: 0px 0px 0px 10px;
	float: right;
} */
