.home {
    background-image: url("./images/rawpixel-256642-unsplash_lowRes.jpg");
    background-size: cover;
}

.ant-layout-content{
    position: relative;
}
.bio {
    padding: 30px;  
    background-color: rgba(255, 255, 255, 0.4);
    width: 400px;
    margin-top: 80px;
    margin-left: 320px;
    position: relative;
    left:20px;
    box-shadow: 10px 10px 5px grey;
}
.bio h1 {
    font-family: 'Dancing Script', cursive;
}
.bio p {
    font-size: 17px;
    font-weight: 500;
}

@media all and (min-width: 1200px) {
    .bio {
        margin-left: auto;
        margin-right: auto;
        left:30px;

    }
}