.ant-layout-footer {
    font-size: 14px;
    background-color: transparent;
    position: relative;
    top:8px;
}

.home {
    background-image: url("./images/rawpixel-256642-unsplash.jpg");
    background-size: cover;
}

.ant-layout-content{
    position: relative;
}
.bio {
    /* position: relative; */
    position:fixed;
    padding: 20px;  
    top: 60px;
    background-color: rgba(255, 255, 255, 0.35);
    width: 400px;
    margin: auto;
}
.bio h1 {
    font-family: 'Dancing Script', cursive;
}
.bio p {
    font-size: 17px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

@media all and (max-width: 1080px) {
    .bio {
        background-color: rgba(255,255,255, 0.8);
        box-shadow: 10px 10px 5px grey;
    }
}