.contact h1 {
    text-align: center;
    letter-spacing: 2px; 
}
.contact p {
    line-height: 22px;
    text-align: center;
    margin-bottom: 0px

}
.erroMsg {
    color: orangered;
    margin-left: 15px
}
@media all and (min-width: 968) {
   
}