#footer {
	width: 940px;
	height: 30px;
	margin: 10px 10px 20px 10px;
	float: left;
	position: relative;
	clear: both;	
} 


#footer p {
    font-family: "ff-tisa-sans-web-pro",sans-serif;
    font-size: 13px;
    color: #AA9593;
    line-height: normal;
}
