.ant-modal-title {
    font-style: italic
}

.ant-modal-body textarea {
    margin-bottom: 20px;
}

.anticon-star, .anticon-star-o {
    color: #ffcc00;
}

.anticon-like, .anticon-like-o {
    color: #2793ff;
}

.sortSelect {
    margin-bottom: 20px;
}

.sortByText {
    margin-right: 5px;  
}

.ant-select-selection.ant-select-selection--single{
    border: 1px #1890ff solid
}