.contact-wrapper {
    background-image:url("./images/josh-rose-156917-unsplash.jpg");
    background-size: cover;
}

.contact {
    margin: 90px auto 0px;
    background-color: rgb(255,255,255,0.8);
    box-shadow: 10px 10px 5px
   
}

@media all and (min-width: 560px) {
    
}