.contact-wrapper {
    background-image:url("./images/josh-rose-156917-unsplash_lowRes.jpg"); 
    background-size: cover;
}

.contact {
    margin: 120px auto 0px;
    background-color: rgb(255,255,255,0.8);
    box-shadow: 10px 10px 5px
   
}
