.recharts-wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:20px auto;
}

.ant-layout-header h1 {
    text-align: center;
    letter-spacing: 3px;
    margin:20px;

}

.ant-layout {
    background-color: #fff;
}

.ant-layout-header {
    margin:30px;
}


